<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-10">
  <div class="mx-auto max-w-xl lg:mx-0">
    <div class="py-10">
      <ul>
        <%= for item <- @items do %>
        <li>
        <strong>
          <.link href={~p"/items/#{item}"}><%= item.title %></.link>
        </strong>
        <%= item.description %>
        </li>
        <% end %>
       </ul>
    </div>
  </div>
</div>
