[mysqld]
server-id=2
skip_log_bin=1
bind-address = 0.0.0.0
relay-log=/data/mysqlrelay
relay-log-index=/data/mysqlrelay
skip-slave-start=1
socket=/data/mysql/mysql.sock
max_heap_table_size=8589934592

plugin_load=""
plugin_load_add="ha_rocksdb.so;ha_cslog.so"

# Enable general logging
general_log = 1
general_log_file = /data/mysql.log

# Enable error logging with debug info
log_error = /data/mysql_error.log
log_error_verbosity = 3

# Enable InnoDB debugging (optional)
innodb_monitor_enable = all

# Enable debug logging for storage engines
#debug = d:t:i:o,debug,error,query,general,where:O,/data/mysql_debug.log
